*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color:aliceblue;
}
/*Navigation Menu*/
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: black;
    justify-content: space-around;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    font-weight: 600;
    margin: 10px;
    color: white;
}

#logo img{
    width:60px;
    padding: 10px;
    margin: 4px 4px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
#navbar ul li a{
    padding: 15px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    font-size: 19px;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.2s;
}
#navbar ul li a:hover{
    background-color: rgb(255, 169, 0);
    color: black;
    border: 2px solid black;
}
#navbar::before{
    content:"";
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
/*Home Section*/
#home{
    height: 550px;
}
#home::before{
    content:"";
    background:url('images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: -1;
    opacity: 1;
}
#homeintro{
    display: flex;
    background-color: rgb(255, 245, 214);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    position: absolute;
    padding: 20px;
    margin: 100px 10px 10px 100px;
    width: 40%;
    line-height: 30px;
}
#home h1{
    font-weight: 900;
    text-align: center;
    font-size: 180%;
    margin-bottom: 20px;
}
#home p{
    font-weight:700;
    font-size: 120%;
    text-align: justify;  
}
/*Button Section*/
.btn{
    background-color: rgb(255, 168, 0);
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
    width: 140px;
    font-size: 15px;
    font-weight: 600;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.btn:hover{
    background-color: white;
    border:2px solid black;
    cursor: pointer;
}

/*About Us Section*/
#aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10%;
    text-align: justify;
    padding: 20px;
    font-size: 120%;
    line-height: 25px;
}
#about .btn{
    padding: 10px;
}
.head{
    display: flex;
    justify-content: center;
    font-size: 28px;
}
/*Services Section*/
#service{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#service .btn{
    padding: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    gap: 15px;
    width:370px;
    border-radius: 20px;
    font-size: 108%;
    margin: 20px 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 4px rgb(169, 169, 169);
    transition-property: all;
    transition-duration: 0.5s;
    text-align: justify;
    background-color: white;
}
.box p{
    line-height: 23px;
}
.box img{
    border:2px solid black;
    margin: 10px;
}
.sechead{
    font-size: 23px;
    text-align: center;
}
/*Careers Section*/
#career{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    gap: 10px;
    width:80%;
    border-radius: 20px;
    margin: 20px 20px;
    padding: 5px 40px;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 4px rgb(169, 169, 169);
    transition-property: all;
    transition-duration: 0.5s;
    text-align: justify;
    line-height: 25px;
    font-size: 110%;
}
#career .btn{
    padding: 10px;
    margin: 0px auto;
}
/*Footer*/
.foot{
    background-color: black;
    text-align: center;
    font-weight: 500;
    color: white;
    padding: 20px;
}
.foothead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    margin:20px;
    font-size: 110%;
}
.box3 img{
    width: 100px;
}
#social  img{
    width: 40px;
    margin: 10px;
}
/*Contact Us Section*/
.contactcont{
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contactcont label{
    text-align: center;
    width: 50%;
    font-size: 110%;

}
.contactcont input{
    text-align: center;
    width: 50%;
    padding: 8px;
    font-size: 100%;
    border-radius: 10px;
    border:2px solid black;
    box-shadow: 0.5px 0.5px 1px black;
}
.contactcont .btn{
    padding: 10px;
}
/*Location Section*/
#location{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    gap: 10px;
    font-size: 107%;
    background-color: white;
    width: 400px;
    border-radius: 20px;
    margin: 30px 30px;
    padding: 25px;
    text-align: center;
    box-shadow: 3px 3px 4px rgb(169, 169, 169);
    transition-property: all;
    transition-duration: 0.5s;
    text-align: justify;
}